*{
  font-family:arial;
  text-align:center;
}

.help-form {
  text-line:right;
  background-color:blue;
  border-style:solid;
  border-color: darkgray;
}


h1  {
  text-align: left;
  color: blue;
  }
